

.button{
    width: 200px;
    height: 400px;
    background-color: rgb(7, 174, 129);
    text-align-last: center;
    padding-top: 100px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    display:inline-block;
    margin-top: 100px;
    
}
.button:hover{
    opacity: 1;
}

a{
    margin: 20px;
    font-family: Quicksand-Light;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    
    
    
}

#center-button{
    display:block;
    width: 100%;
    margin: 0 auto;
}

span{
    padding-top: 300px;
}

@font-face {
    font-family: "Quicksand-Light";
    src: url(tables\ info/fonts/Quicksand-Light.ttf);
}
