body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(158, 0, 250, 0.13);
}

table {
    width: 100%;
    height: 500px;
    background-color: #38f1c3;
    border-collapse: collapse;
}

h1 {
    text-align-last: center;
}

td {
    text-align-last: center;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

th {
    background-color: #2cd4b0;
    
}

td:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: inset 0 0 0 23px #bd32fd;
}

#empty {
    background-color: #2cd4b0;
   
}

